@import './assets/style/design-system.scss';

body {
    font-family: $font-family;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    color: $blue-GFDP;
    font-size: $font-md;
    text-decoration: none;
}

a:hover {
    color: $mid-blue-GFDP;
    transition: 150ms ease-in-out;
}